<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${titulo}"></title>
</head>

<body>

	<h3 th:text="${titulo}"></h3>

	<!--* th: para indicar que es una ruta de spring
			* @{/form} es la ruta target del metodo donde se enviara el formulario cuando se de clic en enviar
			  con method indicamos el tipo de metodo que es "post"
			  
			  El formulario se mapea automaticamente a una clase pojo, siempre y cuando los campos "name" del formulario
			  coincidan con los atributos de clase pojo
		-->
	<form th:action="@{/form}" method="post">

		<!--Campo de nombre-->
		<!--for es una etiqueta para mapear o asignar el id, por lo tanto al for se le asigna lo mismo que id
		    sirve para usabilidad. Al dar clic en la etiqueta Username, automanticamente se posicionara en el input
		-->
		<div>
			<label for="username">Username</label>

			<div>
				<!--con th:value mostramos nuevamente el valor ingresado en el campo despues de que se intento enviar el formulario y este contenia errores
					en otras palabras no pierde la informacion ingresada previamente por el usuario
				-->
				<input type="text" name="username" id="username" th:value="${usuario.username}">
			</div>
			<!--preguntamos si "error" (hashmap de java) que viene del controller trae errores y si trae errores preguntamos si la key contiene un error para el campo en este caso "username"
				si hay error lo mostramos con th:text
			-->
			<div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div>
		</div>

		<!--Campo password-->
		<div>
			<label for="password">Password</label>
			<div>
				<input type="password" name="password" id="password">
			</div>
			<div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div>
		</div>

		<div>
			<label for="email">Correo</label>
			<div>
				<!--en type podria ser email en lugar de text, para validar que sea un correo. Pero la validacion se hara con Spring-->
				<input type="text" name="email" id="email" th:value="${usuario.email}">
			</div>
			<div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div>
		</div>

		<!--Boton enviar-->
		<div>
			<div>
				<input type="submit" value="Enviar">
			</div>
		</div>
	</form>


</body>

</html>