<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="${titulo}"></title>
	</head>
	
	<body>
		
		<h3 th:text="${titulo}"></h3>
		
		<!--En una lista mostramos las propiedades del objeto usuario de tipo Usuario con los valores 
		    que	se obtuvieron del form.html
		-->
		<ul>
			<li th:text="${usuario.nombre}"></li>
			<li th:text="${usuario.apellido}"></li>
			<li th:text="${usuario.username}"></li>
			<li th:text="${usuario.password}"></li>
			<li th:text="${usuario.email}"></li>
			<!--este campo se obtendria de una BD, no del formulario, se maneja internamente-->
			<li th:text="${usuario.identificador}"></li>
			<li th:text="${usuario.cuenta}"></li>
			<li th:text="${usuario.pais}"></li>
			<!--<li th:text="${usuario.pais}"></li>-->
			<!--Damos formato para mostrar la fecha que se envio-->
			<li th:text="${#dates.format(usuario.fechaNacimiento, 'dd/MM/yyyy')}"></li>
		</ul>
		
		
	</body>	
</html>